#about{
    padding: 2% 20%;
    color: white;
}

body {
    height: 100%
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 80px;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img {
    width: 50%;
    border-radius: 100%;
    transition: 0.5s;
}

.about-col-1 img:hover{
    transform: scale(1.10);
    transition: 0.5s;
}

.about-col-2{
    flex-basis: 60%;
}

.subtitle{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.about-name{
    font-size: 25px;
    font-weight: 300;
    color: #48cae4;
}

.tabtitles{
    display: flex;
    margin: 20px 0 40px;
}

.tablinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tablinks::after{
    content: '';
    width: 0;
    height: 3px;
    background: #48cae4;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tablinks.activelink::after{
    width:50%
}

.tabcontents ul li{
    list-style: none;
    margin: 10px 0;
}

.tabcontents ul li span{
    color: #90e0ef;
    font-size: 14px;
}

.tabcontents{
    display: none;
}

.tabcontents.activetab{
    display: block;
}