#faq {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    color: white;
}
 
h1 {
    margin-bottom: 50px;
    width:100%;
}

.faqContainer {
    margin-top: 60px;
    padding: 40px;
}

.faqItem {
    padding: 20px;
    margin-top: 45px;
    margin-bottom: 45px;
    border: 3px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border-radius: 10px;
    background: #0077b6;
    transform: scaleX(1);
    transition: transform 0.5s ease;
}

.faqItem:hover {
    transform: scaleX(1.05);
    transition: transform 0.5s ease;
}

.faqQuestion {
    font-size: 20px;
    color: white;
    cursor: pointer;
    display: inline-block;
}

.faqAnswer {
    display: none;
    padding: 10px;
    background-color: #028fdb;
    border: 3px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.4;
}

.faqAnswer p {
    margin-bottom: 10px;
}
  
.faqAnswer p:last-child {
    margin-bottom: 0;
}