/*#faq {
    padding: 2% 20%;
    color: white;
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
}

.faq-subtitle {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-question {
    width: 97px;
    cursor: pointer;
}

.faq-answer {
    display: none;
}

.faq-answer p {
    margin-top: 5px;
}*/

#faq {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    color: white;
}
  
.faq-container {
    margin-top: 60px;
    padding: 40px;
}

h1 {
    margin-bottom: 50px;
    width:100%;
}

.faq-item {
    padding: 20px;
    margin-top: 45px;
    margin-bottom: 45px;
    border: 3px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border-radius: 10px;
    background: #0077b6;
    transform: scaleX(1);
    transition: transform 0.5s ease;
}

.faq-item:hover {
    transform: scaleX(1.05);
    transition: transform 0.5s ease;
}

.faq-question {
    font-size: 20px;
    color: white;
    cursor: pointer;
    display: inline-block;
}

.faq-answer {
    display: none;
    padding: 10px;
    background-color: #028fdb;
    border: 3px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.4;
  }
  
.faq-answer p {
    margin-bottom: 10px;
}
  
.faq-answer p:last-child {
    margin-bottom: 0;
}