.jobs {
    margin-top: 50px;
    padding: 3% 20%;
    text-align: center;
}

.jobs h1 {
    margin-bottom: 40px;
}

.noJobOffers {
    background-color: #0077b6;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 50px;
    transform: scale(1);
    transition: transform 0.5s ease;
    border: 3px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.noJobOffers:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.noJobOffers p {
    text-align: center;
    font-size: 25px;
}

.offer {
    margin-bottom: 30px;
    padding: 30px;
    background-color: #0077b6;
    border: 3px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border-radius: 10px;
    text-align: center;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.offer:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.companyDetails {
    margin-bottom: 20px;
}

.companyName {
    font-size: 35px;
    font-weight: bold;
}

.offerDetails {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.offerHeading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.offerDescription {
    font-size: 16px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.offerInfo {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.acceptRejectOffer {
    padding-right: 40px;
    padding-left: 40px;
    height: 45px;
    background: #023e8a;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    transition: .3s;
}

.acceptRejectOffer:hover {
    background-color: #155ebd;
    transition: .3s;
}

@media screen and (max-width: 1500px) {
    .offerInfo {
        grid-template-columns: 1fr;
    }

    .acceptRejectOffer {
        margin-bottom: 10px;
    }
}

.infoItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.infoLabel {
    font-weight: bold;
    width: 80px;
}

.infoValue {
    color: white;
}

.compareContainer {
    padding: 10px;
    margin-right: 1300px;
    margin-top: 10px;
    position: fixed;
    z-index: 1;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 3%;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 5;
}

.compareContainer .offer {
    height: 280px;
    margin-bottom: 10px;
}

.compareContainer .offerInfo {
    grid-template-columns: 1fr;
    padding-bottom: 0px;
}

.compareContainer .infoItem {
    margin-bottom: 0px;
}

.compareContainer .offerDescription{
    margin-bottom: 10px;
    padding: 5px;
}

.compareContainer .companyDetails {
    margin-bottom: 5px;
    padding: 5px;
}

.compareContainer .companyName {
    font-size: 20px;
}

.compareContainer .offerDetails {
    padding-top: 0px;
}