body {
    height: 100%;
}

.registerPopUp {
    margin-top: 3%;
    width: 800px;
    height: 100%;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    background-color: #0077b6;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.registerLoginButton {
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.registerToLogin {
    font-size: .9em;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.registerToLogin a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.registerToLogin a:hover {
    text-decoration: underline;
}

.normalUserToEnterprise {
    font-size: .9em;
    color: white;
    text-align: left;
    font-weight: 500;
    margin: 50px 0px 20px;
}

.normalUserToEnterprise a {
    color: white;
    text-decoration: none;
    padding-right: 50px;
    margin-bottom: 30px;
    font-weight: 600;
}

.normalUserToEnterprise p {
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    padding-right: 50px;
    font-weight: 600;
    padding-bottom: 30px;
}

.normalUserToEnterprise a:hover {
    text-decoration: underline;
}

.normalUserToEnterprise.icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: white;
    line-height: 57px;
}

.birthdate.icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: white;
    line-height: 57px;
}


.formBox.register{
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.formBox.registerEnterprise{
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.rememberForgotRegister {
    font-size: .9em;
    color: white;
    font-weight: 500;
    margin: -15px 0 15px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.rememberForgotRegister label input {
    accent-color: white;
    margin-right: 3px;
}

.rememberForgotRegister a {
    color: white;
    text-decoration: none;
}

.rememberForgotRegister a:hover {
    text-decoration: underline;
}

.birthdate {
    margin :30px 0;
    position: relative;
    width: 100%;
    height: 35px;
    font-weight: 550;
}

.birthdate label {
    left: 5px;
}

.birthdate.icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: white;
    line-height: 57px;
}

.birthdate input {
    padding: 5px;
    background: transparent;
    border: 1px solid white;
    border-radius: 2%;
    outline: none;
}

.gender {
    margin :35px 0;
    position: relative;
    width: 100%;
    height: 20px;
    font-weight: 550;
}

.gender label {
    left: 5px;
}

.gender select {
    padding: 5px;
    background: transparent;
    border: 1px solid white;
    border-radius: 2%;
    outline: none;
}

.gender option {
    background: #48cae4;
}

.gender.icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: white;
    line-height: 57px;
}

.description {
    margin :30px 0;
    position: relative;
    width: 100%;
    height: 60px;
    font-weight: 550;
}

.description label {
    left: 5px;
}

.description.icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: white;
    line-height: 57px;
}

textarea {
    resize: none;
    height: 30px;
    padding: 5px;
    width: 100%;
    background: transparent;
    border: 2px solid white;
    border-radius: 3%;
    outline: none;
}

::placeholder {
    color: white;
    text-align: center;
}

textarea::-webkit-scrollbar {
    width: 0;
}

textarea:is(:focus, :valid) {
    border: 3px solid white;
    color: white;
}

.descriptionEnterprise {
    margin :30px 0;
    position: relative;
    width: 100%;
    height: 60px;
    font-weight: 550;
}

.descriptionEnterprise label {
    left: 5px;
}

.descriptionEnterprise.icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: white;
    line-height: 57px;
}

.descriptionEnterprise textarea {
    resize: none;
    height: 30px;
    padding: 5px;
    width: 100%;
    background: transparent;
    border: 2px solid white;
    border-radius: 3%;
    outline: none;
}

.descriptionEnterprise textarea::placeholder {
    color: white;
    text-align: center;
}

.descriptionEnterprise ::-webkit-scrollbar {
    width: 0;
}

.descriptionEnterprise :is(:focus, :valid) {
    border: 3px solid;
}

.switchTabs {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(90deg,#0b57bb,#0077b6);
    color: white;
    left: 100px;
    width: 49%;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
  
.switchTabs:hover {
    background-color: #ddd;
    cursor: pointer;
}

.loginLink {
    cursor: pointer;
}

.icon {
    color: white;
}

label {
    color: white;
}

select {
    color: white;
}

input {
    color: white;
}