*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: white;
}

#portfolio {
    display: none;
}

#userSearch {
    display: none;
}

body {
    background: linear-gradient(90deg,#0077b6,#0096c7);
    background-image: url("../images/893.jpg");
    color: white;
}

header {
    top: 0;
    width: 100%;
    z-index: 2;
}

nav{
    top: 0;
    position: fixed;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(90deg,#023e8a,#0077b6);
    backdrop-filter: blur(20px);
    overflow: hidden;
    z-index: 2;
}

.logo{
    position: relative;
    width: 50px;
    margin-right: 10px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #90e0ef;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width:100%;
}

.header-text{
    margin-top: 18.5%;
    font-size: 30px;
    color: white;
    text-align: center;
    height: 60%;
    position: relative;
}

.moveOpen {
    transform: translateX(-500px);
    transition: transform 0.5s ease;
}

.moveClose {
    transform: translateX(0px);
    transition: transform 0.5s ease;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text p span{
    color: #48cae4;
}

.copyright {
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 18px 0;
    background: #023e8a;
    color: white;
    backdrop-filter: blur(20px);
    left:0;
    bottom:0;
}

.copyrightFlex {
    position: flex;
    width: 100%;
    text-align: center;
    padding: 18px 0;
    background: #023e8a;
    color: white;
    backdrop-filter: blur(20px);
    left:0;
    bottom:0;
}

.openMenuButtonResponsive {
    color: white;
    display: none;
}

@media screen and (max-width: 750px) {
    .openMenuButtonResponsive {
        font-size: 30px;
        margin-top: -40px;
        margin-right: 10px;
        display: block;
        float: right;
        cursor: pointer;
    }

    nav {
        top: 0;
        position: fixed;
        width: 100%;
        display: block;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background: linear-gradient(90deg,#023e8a,#0077b6);
        backdrop-filter: blur(20px);
        overflow: hidden;
        z-index: 2;
        padding: 10px;

    }

    nav ul li{
        display: block;
        text-align: center;
        padding: 5px;
    }

    nav img {
        text-align: center;
        display: block;
        position: relative;
        align-items: center;
        justify-content: center;
    }
}

/*
.fixed-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .fixed-nav ul li {
    margin: 0px 10px; 
  }
  
  .fixed-nav ul li a {
    display: flex;
    align-items: center;
    text-align: center;
    
  }*/