h1 {
    padding: 2% 25%;
    text-align: center;
}

.searchUser {
    margin-top: 30px;
    padding: 2% 25%;
    text-align: center;
}

.searchBar {
    margin-top: 100px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 60px;
    padding: 10px 20px;
    justify-content: center;
    display: flex;
    backdrop-filter: blur(4px) saturate(180%);
    border: 2px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.searchBar input {
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: white;
}

.searchBar button {
    border: none;
    border-radius: 50%;
    width: 70px;
    background-color: #0077b6;
    cursor: pointer;
    transition: .3s;
}

.searchBar button:hover {
    background-color: #155ebd;
    transition: .3s;
}

.searchBar ion-icon {
    font-size: 20px;
    color: white;
}

::placeholder {
    color: white;
}

.container h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: white;
    margin-top: 50px;
}

.container {
    padding: 2% 25%;
}

.text {
    margin-top: 70px;
    font-size: 20px;
    text-align: center;
}

.user {
    text-align: left;
    background-color: transparent;
    backdrop-filter: blur(20px);
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    padding: auto;
    transform: scale(1);
    transition: transform 0.5s ease;
    border: 3px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.user p {
    margin-left: 25px;
}

.user:after {
    transition: 0.5s ease;
}

.user:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.viewProfileButton {
    position: absolute;
    right: 5%;
    top: 20%;
    color: white;
    cursor: pointer;
    background: #0077b6;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 60px;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.viewProfileButton:hover {
    transform: scale(1.10);
    transition: transform 0.5s ease;
}