h1 {
    padding: 2% 25%;
    text-align: center;
}

.searchUser {
    margin-top: 30px;
    padding: 2% 25%;
    text-align: center;
}

.searchBar {
    margin-top: 100px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 60px;
    padding: 10px 20px;
    justify-content: center;
    display: flex;
    backdrop-filter: blur(4px) saturate(180%);
    border: 2px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.searchBar input {
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: white;
}

.searchBar button {
    border: none;
    border-radius: 50%;
    width: 70px;
    background-color: #0077b6;
    cursor: pointer;
    transition: .3s;
}

.searchBar button:hover {
    background-color: #155ebd;
    transition: .3s;
}

.searchBar ion-icon {
    font-size: 20px;
    color: white;
}

::placeholder {
    color: white;
}

